html,body{
    padding: 0%;
    margin: 0%;
    font-size: 12px;
    font-family: Helvetica;
    background-color: black;
    /* color: white; */
}
nav{
    display: flex;
    background-color: rgb(250, 9, 9);
    padding: 10px;
    color: white;
    justify-content: space-between;
    align-items: center ;
}

nav ul {
    display: flex;
}
nav li{
    padding-left: 20px;
    list-style: none;
}

nav li a{
    color: white;
    text-decoration: none;
}

nav li a:hover{
color: black;
}

/* Aqui comienza .main_section */

.main_section{
    padding: 10%;
    text-align: center;
    color: white;
}

.products{
    /* padding: 0%;
    margin: 0%; */
    background-image: url("../imagenes/banner1.jpg");
    background-size:58%;
    background-position: center;
    padding: 20px;  
     
}
.prod{
    display: flex;
    padding: 1%;
    margin: 1%;
}
.product{
   
    padding: 20px;
}

.product .content{
    text-align: center;
    background-color: white;
    padding: 20px;
    margin: 20px;

}