@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');
/* --------------------Variables */

:root{
    /* tipografía */
    --fontRobot: 'Roboto Mono', monospace;
    --normal:14px;
    /* color */
    --black-color: black;
    --white-color: white;
    --red-color: red;

}
/* --------------------Variables */


html,body{
    padding: 0%;
    margin: 0%;
    font-size: var(--normal);
    font-family: var(--fontRobot);
    background-color: var(--black-color);
    width: 100%;
    max-width: 100%;
    /* color: white; */
}
nav{
    display: flex;
    background-color:var(--red-color);
    padding: 1%;
    margin: 0%;
    color: var(--black);
    justify-content: space-between;
    align-items: center ;
}

nav ul {
    display: flex;
}
nav li{
    padding-left: 20px;
    list-style: none;
}

nav li a{
    color:var(--white-color);
    text-decoration: none;
}

nav li a:hover{
color:var(--black-color);
}

/* Aqui comienza .main_section */

.main_section{
    padding: 10%;
    text-align: center;
    color:var(--white-color);
}

.products{
    background-image: url("../imagenes/banner1.jpg");
    background-size:58%;
    background-position: center;
    padding: 1%;     
}

.prod{
    display: flex;
  
    margin-top:-2%;  
}

.product{
    width: 80%;
    align-items: center;
    object-position: center;
    padding:-20%;
    margin-top: -15%;
}

.product .content{
    text-align: center;
    background-color:var(--white-color);
    padding: 5%;
    margin: 25%;
    padding-top: -10% ;
    margin-top: 20%;
    font-size: var(--normal:12px);
    box-shadow: 4px 4px #6f6969;
}

.imgContent{
    width: 100%;
    height: auto;
    margin-top: -50%;
    margin-left: -10%;
    margin-bottom: -30%;
    transform: scale(0.2, 0.2);   
}

/* Aqui terminamos con .main_section */



/* Aqui vamos empezar con los botones */

.mainButton{
background-color:var(--red-color);
color: var(--white-color);
border: none;
width: 100%;
padding: 6%;
font-size: var(--normal:12px);
margin-top: 10%;
cursor: pointer;
border-radius: 15px;
}

.mainButton:hover{
background-color: #ec3636;
}

/* Aqui terminamos con los botones */

.responsive{
    width: 100%;
    max-width: 100%;
}

/* Aqui hacemos .responsive a 1800px nuestro diseño */

@media screen and (max-width: 1800px){
.prod{
    
    display: inline-table;
    margin: 0%;
    padding: 0%;
    display: contents;
    display: ;
}
.product{
    padding: 10%;
    margin-bottom: -50%;
}
}